body {
    background-color:plum;
}

#score {
    font-size: 25px;
    margin-left: 100px;
}

#timer {
    font-size: 25px;
    float: right;
    margin-right: 100px;
}

#to_draw {
    color: darkblue;
}